.main_area .profile .image_profile {
    display: flex;
    justify-content: center;
}

.main_area .profile .image_profile img {
    border: none;
    border-radius: 150px;
    height: 400px;
    width: 500px;
} 

.contacts_icon {
    display: flex;
    justify-content: space-between;
    padding: 50px;
}

.card_info {
    display: flex;
    justify-content: center;
}